In [2]:
#Arithmatic Operators=> Operators which performs arithmatic operations
a=100
b=5
print(a+b)  #Addition
print(a-b)  #Subtraction
print(a*b)  #Multiplication
print(a/b)  #Division
print(a%b)  #Modulus
print(a//b) #Floor division
print(a**b) #Exponentiation(power of)

105
95
500
20.0
0
20
10000000000

In [4]:
print(2**3) #2*2*2=8

8

In [6]:
print(5**4) #5*5*5*5

625

In [7]:
# Division and Floor Division
#/: always perform floating point arithmatic
#//: performs inetral arithmatic which removes decimal values and also sometimes it performs floating point arithmatic

In [8]:
print(10/5)
print(10//5)

2.0
2

In [10]:
a=10
b=5
c=2.0
print(a/b)
print(a/c)
print(a//b) # both the operands are int values
print(a//c) # operand is in floating So, the result will be floating values

2.0
5.0
2
5.0

In [ ]:
# *= multiplication
#performs in two ways:
        #multipliication(both a&b are int type)
        #repeatation(if one operand is sting type)

In [12]:
print(2*3)
print("Ten"*3)

6
TenTenTen

In [17]:
a=10
ename="Rahul"
print(a*100)   #Multiplication
print(ename*4) #Repeatation
print (ename*"sachin")

1000
RahulRahulRahulRahul

TypeError: can't multiply sequence by non-int of type 'str'

In [19]:
#Logical and Relational Operators
# and=> if both operands are non-zero or True, its TRUE
#       if either one operand is zero or False, its FALSE
print (100 and 10)

10

In [23]:
print(True > False)
print(True < False)

True
False